<p>Hallo!</p>

<p>hier ist Dein Zugang zum venuless online Portal:</p>

<ul>
  <% _.forEach(tickets, function(ticket) { %>
  <li><a href="<%=ticket.url%>"><%-ticket.url%></a></li>
  <% }); %>
</ul>

<p>Wir freuen uns darauf, Dich zu treffen!</p>
